.friendMessage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 70px;
}

.avatarBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 48px;
    height: 48px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    height: 48px;
    width: 48px;
    margin-top: auto;
}

.friendText {
    position: relative;
    margin: 0 0 0 20px;
    text-align: left;
    word-wrap: break-word;
    background: #F5F7FB;
    border-radius: 5px;
    padding: 10px;
}

.friendText::after {

    width: 20px;
    height: 20px;
    content: '';
    left: -18px;
    bottom: 0;
    opacity: 1;
    /*border: 1px solid red;*/
    position: absolute;
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0) 20px, rgba(245, 247, 251, 1) 0);
}

.friendName {
    font-weight: 600;
    font-size: 20px;
}

.friendMessageText {
    font-weight: 400;
    font-size: 20px;
    white-space: break-spaces;
}

.friendTime {
    font-size: 12px;
    margin-left: 8px;
}
