.sendForm {
    display: flex;
    margin-top: 20px;

}

.textarea {
    margin-left: 70px;
    width: 976px;
    min-height: 40px;
    resize: none;
    border-radius: 40px;
    background: #F5F7FB;
    border: 1px solid white;
    padding: 10px 24px;
}

.button {
    margin: 0 44px 20px 70px;
    width: 120px;
    height: 40px;
    border: none;
    background: #0066CC;
    border-radius: 40px;
    color: white;
    font-size: 20px;
}

.button:hover {

}
.button:active {

}
